nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid var(--lightgray);
}

.nav__logo {
  flex-grow: 2;
}
.nav__search {
  flex-grow: 2;
}

.nav__search-form {
  width: 100%;
}
.nav__search-input {
  width: 100%;
  font-size: 16px;
  line-height: 21px;
}

.nav__user {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav__icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.btn__login {
  background-color: transparent;
  color: var(--hotpink);
  border: 2px solid var(--hotpink);
}

.btn__signup {}

.btn__user {
  background-color: #fff;
  color: #878a8c;
  border: none;
  padding: 14px;
  cursor: pointer;
  outline: none;
}