@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.container form {
  display: flex;
  flex-flow: column;
}

label {
  color: var(--light-purple);
}

.login-input {
  border: none;
  border-bottom: 1px solid #150833;
  color: #251876;
  margin: 10px;
}
